<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kuwaitKFF">

    <!--<uses-sdk-->
        <!--android:minSdkVersion="11"-->
        <!--android:targetSdkVersion="19" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:name="com.kuwaitKFF.main.Kfsd"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBHJdtYRdbPUW_GhyUxudcIdpU9DL9yAk0" />

        <!--RELEASE KEY-->
        <!--AIzaSyBHJdtYRdbPUW_GhyUxudcIdpU9DL9yAk0-->

        <!--DEBUG KEY-->
        <!--AIzaSyA90R_Wr62G9J_ZcmawAzVOWmtx_Vl8nGo-->
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity
            android:name="com.kuwaitKFF.splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            tools:node="merge"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kuwaitKFF.base.TabbarActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.home.HomeGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.news.NewsGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.advertisements.AdvertisementsGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.more.MoreGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.login.ProfileFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.login.FragmentAttendance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.login.FragmentPermission"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.monthlyReportInquiry.FragmentMonthlyReportInquiry"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.cancelOrBreakVacation.FragmentCancelOrBreakVacation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.approveRejectVacations.FragmentAcceptRejectVacations"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.approveRejectPermissions.FragmentAcceptRejectPermissions"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.home.SectorFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>

        <activity
            android:name="com.kuwaitKFF.home.PAIAdoptionFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.home.MOCIAdoptionFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>

        <activity
            android:name="com.kuwaitKFF.home.MOCIError"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>

        <activity
            android:name="com.kuwaitKFF.home.CreditSectorFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.home.RemarkSectorFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.home.ClearanceFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.decisions.DecisionDetailsFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.circular.CircularDetailsFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.news.NewsDetailsFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.advertisements.AdvertisementsDetailsFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.vacation.FragmentVacation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.vacationsbalance.FragmentVacationBalance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.sickVacationBalance.FragmentSickVacationBalance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.task.FragmentTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.newscreens.FragmentPermissionRequest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>

        <activity
            android:name="com.kuwaitKFF.newscreens.FragmentPermissionInquiry"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>

        <activity
            android:name="com.kuwaitKFF.newscreens.FragmentLeaveInquiry"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>

        <activity
            android:name="com.kuwaitKFF.newscreens.FragmentLeaveRequest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>

        <activity
            android:name="com.kuwaitKFF.correspondence.CorrespondenceFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.kuwaitKFF.correspondence.CorrespondenceDetailsFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.more.ContactUsFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.more.MapActivityFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.more.SocialMediaFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.more.WhoWeAreFragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:node="merge"
            android:exported="false"/>
        <activity
            android:name="com.kuwaitKFF.more.PhoneEmailFragment"
            android:label="@string/title_activity_phone_email_fragment"
            tools:node="merge"
            android:exported="false">
        </activity>
        <activity
            android:name="com.kuwaitKFF.correspondence.CorrespondenceSnapshotActivity"
            android:label="@string/title_activity_circular_snapshot"
            tools:node="merge"
            android:exported="false">
        </activity>
        <activity
            android:name="com.kuwaitKFF.correspondence.DocumentActivity"
            android:label="@string/title_activity_document"
            tools:node="merge"
            android:exported="false">
        </activity>
        <activity
            android:name="com.kuwaitKFF.correspondence.RelatedMsgActivity"
            android:label="@string/title_activity_related_msg"
            tools:node="merge"
            android:exported="false">
        </activity>
        <activity
            android:name="com.kuwaitKFF.correspondence.ProcedureActivity"
            android:label="@string/title_activity_procedure"
            tools:node="merge"
            android:exported="false">
        </activity>
    </application>

</manifest>